{% extends './base.html' %}

{% block header %}
    {% include './header.html' %}
{% endblock %}

{% block sidebar %}
    {% include './sidebar.html' %}
{% endblock %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        text-align: center; /* Center the content horizontally */
    }

    .js-next-fixtures {
        display: inline-block; /* Center the block-level element */
        margin: 50px; /* Adjust the top margin as needed */
        margin-left: 300px;
    }

    .fixtures {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .heading-secondary {
        color: #333;
        font-size: 30px;
    }
</style>



<div class="js-next-fixtures">
    <div class="fixtures">
        <h2 class="heading-secondary">Data Coming Soon for Bundesliga</h2>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include './footer.html' %}
{% endblock %}