
{% block sidebar %}  
<ul class="side-bar__list js-side-bar">

    <a href="eng" >         
        <li id="esp-link" class="side-bar__list-item {% if active_link == 'eng' %}{{active}}{% endif %}" data-competitionid="445" data-currentmatchday="38">
            <i class="material-icons" style="font-size: 0.9em;">sports_soccer</i> ELO : ENG Premier League
        </li>
    </a> 

    <a href="ita">    
    <li class="side-bar__list-item {% if active_link == 'ita' %}{{active}}{% endif %}" data-competitionid="444" data-currentmatchday="38">
        <i class="material-icons" style="font-size: 0.9em;">sports_soccer</i> ELO : ITA Série A
    </li>
    </a> 

    <a href="fra">  
    <li class="side-bar__list-item {% if active_link == 'fra' %}{{active}}{% endif %}" data-competitionid="446" data-currentmatchday="46">
        <i class="material-icons" style="font-size: 0.9em;">sports_soccer</i> ELO : FRA Ligue 1
    </li>
    </a> 

    <a href="ger">
     <li class="side-bar__list-item {% if active_link == 'ger' %}{{active}}{% endif %}" data-competitionid="446" data-currentmatchday="46">
        <i class="material-icons" style="font-size: 0.9em;">sports_soccer</i> ELO : GER Bundesliga
    </li>
    </a>

    <a href="esp">
     <li class="side-bar__list-item {% if active_link == 'esp' %}{{active}}{% endif %}" data-competitionid="446" data-currentmatchday="46">
        <i class="material-icons" style="font-size: 0.9em;">sports_soccer</i> ELO : ESP La Liga
    </li>
    </a>
</ul>
{% endblock %}