{% extends 'base.html' %}

{% block sidebar %}  
<ul class="side-bar__list js-side-bar">
                
    <li class="side-bar__list-item side-bar__list-item--active" data-competitionid="445" data-currentmatchday="38">
        ENG Premier League
    </li>
    
    <li class="side-bar__list-item" data-competitionid="444" data-currentmatchday="38">
       ITA Série A
    </li>

    <li class="side-bar__list-item" data-competitionid="446" data-currentmatchday="46">
        FRA Ligue 1
    </li>
    
     <li class="side-bar__list-item" data-competitionid="446" data-currentmatchday="46">
        GER Bundesliga
    </li>
    
     <li class="side-bar__list-item" data-competitionid="446" data-currentmatchday="46">
        ESP La Liga
    </li>
</ul>
{% endblock %}