.gr {
  color: #028090;
  color: #E4FDE1;
  color: #456990;
  color: #F45B69;
  color: #0A1128;
  color: #001F54;
  color: #034078;
  color: #1282A2;
  color: #FEFCFB; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 610px) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #777;
  color: #fff; }

@keyframes spinner {
  to {
    transform: rotate(360deg); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #444; }

.heading {
  text-transform: uppercase; }

.heading-primary {
  font-size: 3rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem; }

.heading-secondary {
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  font-weight: 400; }

.hidden {
  display: none; }

@media (max-width: 610px) {
  .hidden-for-mobile {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    visibility: collapse !important; } }

.fixtures {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px #777; }
  .fixtures .fixtures-list {
    list-style: none; }
    .fixtures .fixtures-list__item {
      font-size: 1.1rem;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 1px 3px #777;
      border-radius: 4px;
      width: 100%;
      margin: 0 auto 5px auto;
      display: flex;
      justify-content: center; }
    .fixtures .fixtures-list .fixture__homeTeam, .fixtures .fixtures-list .fixture__away-team {
      width: 16rem; }
    .fixtures .fixtures-list .fixture__homeTeam {
      text-align: right; }
    .fixtures .fixtures-list .fixture__result {
      margin: 0 0.5rem;
      width: 2rem; }

.league-table__container {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 5px 10px #777; }

.league-table {
  width: 100%;
  border: 0; }
  .league-table__row {
    font-size: 1.4rem; }
    .league-table__row > *:not(:nth-child(2)) {
      text-align: center; }
    .league-table__row > * {
      padding: 0.5rem; }
    .league-table__row > * > * {
      vertical-align: middle; }
    .league-table__row:nth-child(even) {
      background-color: #f4f2f2; }
    .league-table__row:hover {
      background-color: #ccc;
      cursor: pointer; }
  .league-table__team-logo {
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.5rem;
    text-align: center; }
    .league-table__team-logo img {
      max-width: 2rem;
      max-height: 100%;
      height: auto;
      width: auto; }

.nav__list {
  list-style: none;
  font-size: 1.7rem; 
  margin: 1.5rem; 

}
  .nav__list > * {
    display: inline-block; }

.nav__list-item {
  margin-right: 7rem; 
  color: white;
}
  .nav__list-item:hover {
    color: #219ebc;
    cursor: pointer; 
  
  }
  @media (max-width: 610px) {
    .nav__list-item {
      display: none; } }

.spinner {
  position: relative; }


  .BtnS {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#1b88a3,#46d1f4,#77530a,#1988a4,#46d1f4,#19819b);
    background-size: 250%;
    background-position: left;
    color: #219ebc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .BtnS::before {
    position: absolute;
    content: "UPLOAD";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: #333;
    background-size: 200%;
  }
  
  .BtnS:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .BtnS:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .BtnS:active {
    transform: scale(0.95);
  }

  .selectB{
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    background-position: left;
    border-radius: 8px;
    height: 30px;

  }

  .selectB:hover{
    background-position: right;
    border: 4px solid #028090;

  }


.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 4px solid #114B5F;
  border-right: 4px solid transparent;
  animation: spinner 0.9s linear infinite; }

.content {
  grid-area: c;
  padding: 1.2rem 1.8rem;
  background-color: #eee;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: max-content 1fr 1fr;
  grid-gap: 1rem; 

}
  @media (max-width: 1650px) {
    .content {
      grid-template-columns: max-content 1fr; } }
  @media (max-width: 975px) {
    .content {
      display: flex;
      flex-direction: column; } }

.js-league-table {
  grid-area: 1 / 1 / 4 / 2; }

.footer {

  grid-area: f;
  background-color: #24292e;
  color: #c8c8c8;
  /* display: flex; */
  align-items: center; 
  border-top: 1px solid #555;
  height: 60px;

}
  .footer__text {

    text-align: center;
    font-size: 1.8rem;
    align-items: center;
    margin: 0.6rem 2rem;
    font-weight: 400; 
    font-family: 'Arial', sans-serif; /* Choisissez une police appropriée */

  
  }

  .footer__text:hover {
    color: #ffffff; /* Choisissez une couleur appropriée */
    transition: color 0.3s ease; /* Ajoutez une transition pour une animation en douceur */
  }
  

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'h h h h'
 's c c c'
 's c c c'
 'f f f f';
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: minmax(250px, max-content) 1fr; }
  @media (max-width: 1250px) {
    .container {
      grid-template-areas: 'h h h h'
 's s s s'
 'c c c c'
 'f f f f';
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 1fr; } }

.header {

  background-color: #24292e;
  color: #c8c8c8;
  grid-area: h;
  display: flex;
  align-items: center;

}

a {
  text-decoration: none; /* Removes underlines */
  color: inherit; /* Keeps the link color to inherit from its parent */
}



  .header__brand {

    /* font-size: 2.8rem; */
    margin: 1.2rem 4rem;
    font-weight: 500;
    text-transform: uppercase;
    /* color: #219ebc; */
    cursor: pointer;
    text-decoration: none;
    /* display: inline-block; */
  }
  
  .header__nav-button {
    display: none;
    margin-left: auto;
    padding: 1rem; }
    @media only screen and (max-width: 1240px) {
      .header__nav-button {
        display: inline-block; } }

.side-bar {
  background-color: #333;
  grid-area: s;
  transition: max-height 2s; 
  width: 80%;

}
  @media (max-width: 1250px) {
    .side-bar {
      max-height: 0; }
      .side-bar * {
        display: none; } }
  .side-bar--open {
    max-height: 100%; }
    .side-bar--open * {
      display: block; }
  .side-bar__list {
    list-style: none;
    font-size: 1.7rem; 
  }
  .side-bar__list-item {
    color: #ccc;
    padding: 1.5rem 3rem;
    transition: all 0.4s; }
    .side-bar__list-item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-bar__list-item:hover {
      background-color: #1b7999;
      color: white;
      cursor: pointer; }
    .side-bar__list-item--active {
      background-color: #1b7999;
      color: white; }
