{% extends './base.html' %}

{% block header %}
    {% include './header.html' %}
{% endblock %}

{% block sidebar %}
    {% include './sidebar.html' %}
{% endblock %}

{% block content %}


<!-- 
<div class="match">
    <div class="match-header">
        <div class="match-status">Full-Time </div>
        <div class="match-tournament">
            <img src="https://assets.codepen.io/285131/pl-logo.svg" />English Premier League</div>
        <div class="match-actions">
            <button class="btn-icon"><i class="material-icons">grade</i></button>
            <button class="btn-icon"><i class="material-icons-outlined">add_alert</i></button>
        </div>
    </div>

    <div class="match-content">
        <div class="column">
            <div class="team team--home">
                <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/chelsea.svg" />
                </div>
                <h2 class="team-name">{{selected_data_fixt['fixture_id']}}</h2>
            </div>
        </div>
        <div class="column">
            <div class="match-details">
                <div class="match-date">
                    3 May at <strong>17:30</strong>
                </div>
                <div class="match-score">
                    <span class="match-score-number match-score-number--leading">3</span>
                    <span class="match-score-divider">:</span>
                    <span class="match-score-number">1</span>
                </div>
                <div class="match-time-lapsed">
                    72'
                </div>
                <div class="match-referee">
                    Referee: <strong>Mike dean</strong>
                </div>
                <div class="match-bet-options">
                    <button class="match-bet-option">1.48</button>
                    <button class="match-bet-option">7.84</button>
                    <button class="match-bet-option">3.24</button>
                </div>
                <button class="match-bet-place">xxxxxxxx</button>
            </div>
        </div>
        <div class="column">
            <div class="team team--away">
                <div class="team-logo">
                    <img src="https://resources.premierleague.com/premierleague/badges/t1.svg" />
                </div>
                <h2 class="team-name"> Man Utd</h2>
            </div>
        </div>
    </div>
</div> -->


{% if selected_data_fixt %}
   
        <div class="match">
            <div class="match-header">
                {% for row in selected_data_fixt %}
                <div class="match-status">{{ row['status_long'] }}</div>
                <div class="match-tournament">
                    <img src="{{ row['league_logo'] }}" alt="Tournament Logo" /> {{ row['tournament_name'] }}
                </div>
                {% endfor %}
                <div class="match-actions">
                    <button class="btn-icon"><i class="material-icons">grade</i></button>
                    <button class="btn-icon"><i class="material-icons-outlined">add_alert</i></button>
                </div>
            </div>

            <div class="match-content">
                <div class="column">
                    <div class="team team--home">
                        <div class="team-logo">
                            {% for row in selected_data_fixt %}
                            <img src="{{ row['home_team_logo'] }}" alt="Home Team Logo" />
                        </div>
                        <h2 class="team-name">{{ row['home_team_name'] }}</h2>
                        {% endfor %}
                    </div>
                </div>
                <div class="column">
                    <div class="match-details">
                        <div class="match-date">
                            {% for row in selected_data_fixt %}
                            {{ row['match_date'] }} at <strong>{{ row['match_time'] }}</strong>
                        </div>
                        {% endfor %}
                        <div class="match-score">
                            {% for row in selected_data_fixt %}
                            <span class="match-score-number match-score-number--leading">{{ row['home_score'] }}</span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number">{{ row['away_score'] }}</span>
                            {% endfor %}
                        </div>
                        <div class="match-time-lapsed">
                            {% for row in selected_data_fixt %}
                            {{ row['time_lapsed'] }}
                        </div>
                        <div class="match-referee">
                            Referee: <strong>{{ row['referee'] }}</strong>
                            {% endfor %}
                        </div>
                        <div class="match-bet-options">
                            {% for row in selected_data_fixt %}
                            <button class="match-bet-option">{{ row['bet_option1'] }}</button>
                            <button class="match-bet-option">{{ row['bet_option2'] }}</button>
                            <button class="match-bet-option">{{ row['bet_option3'] }}</button>
                        </div>
                        <button class="match-bet-place">{{ row['bet_place_text'] }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="column">
                    <div class="team team--away">
                        <div class="team-logo">
                            {% for row in selected_data_fixt %}
                            <img src="{{ row['away_team_logo'] }}" alt="Away Team Logo" />
                        </div>
                        <h2 class="team-name">{{ row['away_team_name'] }}</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endif %}





    <div class="js-current-fixtures" >
        <div class="league-table__container">
            <h2 class="heading-primary">Season</h2>
            <form  method="POST">
                <input type="hidden" name="form_type" value="season_form">
                <select id="season" name="season" style="width: 250px;" class="selectB">
                    {% for season_selected in season_available%}
                   <option value="{{season_selected}}">{{season_selected}} / {{ (season_selected|int) +1}}</option>
                    {%endfor%}  
                </select>
                <br><br>
                <button type="submit" class="BtnS">UPLOAD</button>
            </form>
             
            <br><br><br>
            <h2 class="heading-primary">Fixture</h2>
            <form  method="POST">
                <input type="hidden" name="form_type" value="fixture_form">
                <select id="fixture" name="fixture" style="width: 250px;" class="selectB">
                    {% for id in fixture_ids %}
                        <option value="{{ id }}">{{ id }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button type="submit" class="BtnS">UPLOAD</button>
            </form>

    
            <br><br><br>
        </div>
    </div>



{% endblock %}

{% block footer %}
    {% include './footer.html' %}
{% endblock %}